body {
    background-color: #840000;
    color: #0F0F0F
}

#logo_place {
    text-align: center;
    margin-top: 1cm
}

#navigation {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 8cm;
    margin-right: 8cm;
    color: #0F0F0F
}

#navigation a {
    color: #0F0F0F
}

#content {
    background-image: url(tlo_tresc.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0.5cm;
    height: 600px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #0F0F0F
}

#page_content {
    background-image: url(tlo_tresc_wlasciwa.png);
    background-repeat: repeat;
    margin-left: 14cm;
    margin-right: 14cm
}