// Define variable defaults
$body-bg: black;
$body-color: grey;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

.Questionnaire form {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  width: 40%;

}

.Questionnaire form *{
  margin: 0.5em 0em;
}

.Questionnaire form input{
  font-size: 0.4em;
}

.Questionnaire form label{
  font-size: 0.4em;
}

.custom-control-label{
  font-size: 1em;
}

.questionnaire form legend{
  font-size: 0.4em;
}

.Questionnaire form button {
  width: 90px;
  height: 40px;
  color: #EEEEEE;
  background-color: dodgerblue;
  align-self: flex-end;
}
.Questionnaire form button:focus {
  background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0.5, royalblue ),
                    color-stop(1, dodgerblue )
  );
}